.search {

  .search--header {
    background-color: #ececec;

    > div {
      max-width: 105rem;
      margin-left: auto;
      margin-right: auto;
      padding: 50px 0 30px 0;

      h1 {
        margin-top: 0;
      }
    }
  }

  .search__no-results {
    background-color: #ffe7fe;
    padding: 30px;
    margin-top: 40px;

    a {
      color: black;
      text-decoration: underline;
    }

    .smilie {
      color: $purple;
      font-size: 6rem;
      font-family: 'robotobold', Roboto, Arial, sans-serif;
    }

  }

  .search--suggestions {
    margin-top: $spacer;
  }

  .search__input {
    padding: 1rem;
  }

  .search__spelling {
    border-bottom: 1px dotted red;
  }

  .h4 {
    color: $purple;
    margin: 0 0 30px 0;
  }

  .underlined {
    text-decoration: none;
    border-bottom-style: dashed;
    border-bottom-color: $purple;
    border-bottom-width: 1px;

    &--heavy {
      border-bottom-width: 3px;
    }
  }

  input.underlined {
    border-bottom: none;
    text-decoration: dashed;
    text-decoration-color: $purple;
  }

  .input-group-append {
    span {
      padding-left: 5px;
    }
  }

  .input-group {
    margin-bottom: 30px;
  }

  .search__list {
    padding: 0;
    list-style: none;

    li {

      &:first-child {
        border-top: 1px dotted $gray-200;
      }

      border-bottom: 1px dotted $gray-200;
      margin: 0;
      padding: 20px 0;

      &.search__list-suggestion-item {
        padding: 0
      }

      a {
        color: #1c1c1c;
      }
    }
  }
}
