.search {

  .search--suggestions {
    margin-top: $spacer;
  }

  .search__input {
    padding: 1rem;
  }

  .search__spelling {
    border-bottom: 1px dotted red;
  }

  .search__list {
    padding: 0;
    list-style: none;

    li {
      margin: 0;

      &.search__list-suggestion-item {
        padding: 0
      }

      .underline {
        text-decoration: underline;
      }

      a {
        color: #1c1c1c;
      }

      p {
        margin-top: 1em;

        strong,
        em {
          font-family: 'robotomedium', Roboto, Arial, sans-serif;
          text-decoration: underline;
          font-style: normal;
        }
      }
    }
  }
}
