.navbar-toggler {
  background-image: url(../svg/menu.svg);
  background-position: center;
  background-size: cover;
  border-radius: 0;
  text-indent: 100%;
  width: 2.6rem;
  height: 2rem;
  padding: .5rem .8rem;
}

.btn--secondary {
  background-color: $green;
}
