
.btn {
  overflow: hidden;
  border-radius: 0;
  font-size: 2rem;
  line-height: 1;
  padding: 1rem;
  margin-right: 1.5em;
  color: inherit;

  &.raised {
    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }

  &.has-arrow {
    &::after {
      content: '';
      height: 16px;
      width: 24px;
      position: relative;
      right: -8px;
      display: inline-block;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: contain;
      transition: right .1s ease-in-out;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNCAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHRpdGxlPkdyb3VwIDI8L3RpdGxlPgo8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM2NyAtMTEyMikiPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNjcgMTEyMikiPgo8cG9seWdvbiBwb2ludHM9IjE2IDAgMjQgOCAxNiAxNiIgZmlsbD0iI2ZmZiIvPgo8cGF0aCBkPSJtMTYgNy44MDU2aC0xNS41IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMyIvPgo8L2c+CjwvZz4KPC9nPgo8L3N2Zz4K');
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        right: -10px;
      }
    }
  }
}
.btn--large {
  font-size: 2.4rem;
  padding-top: 2.2rem;
  padding-bottom: 1.8rem;

  &:active {
    padding-top: 3rem;
    padding-bottom: 1.6rem;
  }
}

.btn--link {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  border-bottom: 2px dashed $pink;

  &:hover,
  &:focus {
    background-color: transparent;
    text-decoration: none;
  }
}

.btn--primary {
  color: $white;
  background-color: $pink;
  text-decoration: none;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  @include media-breakpoint-up(sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {

    }
  }

  &:active {
    position: relative;
    top: .1em;
  }

  @include media-breakpoint-up(md) {
    font-size: 2.3rem;
  }
}


.btn--full-width {
  @include media-breakpoint-up(sm) {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
}

// Dropping it here for the moment as they are indeed buttons
.navbar-toggler {
  background-image: url(../svg/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 0;
  text-indent: 100%;
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.navbar-toggler-icon {
  visibility: hidden;
}


.button-group {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .button + .button {
    margin-top: 1.5rem;
  }

  @include media-breakpoint-up(sm) {
    .button + .button {
      margin-top: 0;
    }
  }
}
