npm-debug.log
dist
static/ui/css/
node_modules

/.idea/

config.development.yaml
config.production.yaml
config.staging.yaml
config.users.yaml
config.yaml

.DS_Store

*.bak
/.aws

.env

config.development.yaml
