
.card-deck {
  &.card-deck--compact {
    @include media-breakpoint-up(md) {
      margin-left: -.3rem;
      margin-right: -.3rem;

      .card {
        margin-left: .3rem;
        margin-right: .3rem;
      }
    }
  }

  &--light {
    background-color: $gray-100;
    padding: 3rem;

    @include media-breakpoint-up(md) {
      padding: 6rem;
    }
  }
}

.card {
  border-radius: 0;

  &.card--quiet {
    border: 0;
    background-color: transparent;
  }

  &.bg-black {
    background-color: $black;

    a {
      color: $white;
    }
  }
}

.has-arrow {
  &::after {
    content: '';
    position: absolute;
    width: 5rem;
    height: 5rem;
    right: 0;
    bottom: 0;
    background-color: $green;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTAgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUxLjIgKDU3NTE5KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5GaWxsIDE8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0idGVzdGluZy00IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iSG9tZV9ELUNvcHktNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEyODcuMDAwMDAwLCAtMTI4MS4wMDAwMDApIiBmaWxsPSIjMDAwMDAwIj4KICAgICAgICAgICAgPHBhdGggZD0iTTEyODcuMzIzNywxMjk1LjUwOTQ3IEMxMjg3LjU5NjE1LDEyOTUuODMzMTIgMTI4Ny45ODUwOSwxMjk2IDEyODguMzc3MjQsMTI5NiBDMTI4OC42OTAwNCwxMjk2IDEyODkuMDA0NjgsMTI5NS44OTM4IDEyODkuMjYzMzcsMTI5NS42NzU4OSBMMTI5Ni41MTA2MSwxMjg5LjU1ODMzIEMxMjk2LjgyMTEyLDEyODkuMjk2MjggMTI5NywxMjg4LjkxMDU3IDEyOTcsMTI4OC41MDM3MiBDMTI5NywxMjg4LjA5Njg2IDEyOTYuODIxMTIsMTI4Ny43MTA2OSAxMjk2LjUxMTA3LDEyODcuNDQ5MTEgTDEyODkuMjYzMzcsMTI4MS4zMjQ2NSBDMTI4OC42ODIyNSwxMjgwLjgzMzY2IDEyODcuODE0MDEsMTI4MC45MDgxMyAxMjg3LjMyMzcsMTI4MS40OTAxNSBDMTI4Ni44MzQzMiwxMjgyLjA3MjYyIDEyODYuOTA4MTYsMTI4Mi45NDI0MiAxMjg3LjQ4ODgyLDEyODMuNDMzNDEgTDEyOTMuNDg3NiwxMjg4LjUwMzI2IEwxMjg3LjQ4OTc0LDEyOTMuNTY2MjEgQzEyODYuOTA4NjIsMTI5NC4wNTY3NCAxMjg2LjgzNDMyLDEyOTQuOTI3IDEyODcuMzIzNywxMjk1LjUwOTQ3IiBpZD0iRmlsbC0xIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=');
  }
}


.has-chevron {
  &::after {
    content: '';
    background-size: cover;
    display: inline-block;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTAgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CjxnIGlkPSJ0ZXN0aW5nLTQiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgo8ZyBpZD0iSG9tZV9ELUNvcHktNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEyNjEuMDAwMDAwLCAtMTUwMS4wMDAwMDApIiBmaWxsPSIjMDZEODAwIj4KPHBhdGggZD0iTTEyNjEuMzIzNywxNTE1LjUwOTQ3IEMxMjYxLjU5NjE1LDE1MTUuODMzMTIgMTI2MS45ODUwOSwxNTE2IDEyNjIuMzc3MjQsMTUxNiBDMTI2Mi42OTAwNCwxNTE2IDEyNjMuMDA0NjgsMTUxNS44OTM4IDEyNjMuMjYzMzcsMTUxNS42NzU4OSBMMTI3MC41MTA2MSwxNTA5LjU1ODMzIEMxMjcwLjgyMTEyLDE1MDkuMjk2MjggMTI3MSwxNTA4LjkxMDU3IDEyNzEsMTUwOC41MDM3MiBDMTI3MSwxNTA4LjA5Njg2IDEyNzAuODIxMTIsMTUwNy43MTA2OSAxMjcwLjUxMTA3LDE1MDcuNDQ5MTEgTDEyNjMuMjYzMzcsMTUwMS4zMjQ2NSBDMTI2Mi42ODIyNSwxNTAwLjgzMzY2IDEyNjEuODE0MDEsMTUwMC45MDgxMyAxMjYxLjMyMzcsMTUwMS40OTAxNSBDMTI2MC44MzQzMiwxNTAyLjA3MjYyIDEyNjAuOTA4MTYsMTUwMi45NDI0MiAxMjYxLjQ4ODgyLDE1MDMuNDMzNDEgTDEyNjcuNDg3NiwxNTA4LjUwMzI2IEwxMjYxLjQ4OTc0LDE1MTMuNTY2MjEgQzEyNjAuOTA4NjIsMTUxNC4wNTY3NCAxMjYwLjgzNDMyLDE1MTQuOTI3IDEyNjEuMzIzNywxNTE1LjUwOTQ3IiBpZD0iRmlsbC0xIj48L3BhdGg+CjwvZz4KPC9nPgo8L3N2Zz4=');
  }
}


.card-body {
  .has-arrow & {
    padding-right: 6rem;
  }
}
