.collapsible {

  &.collapsible--chevron {
    .collapsible_trigger {
      // padding: 1.5rem 1rem;
      position: absolute;
      width: 4rem;
      left: 0;
      top: 0;
      bottom: 0;
      display: block;
      background-color: $green;
      background-position: center 2.5rem;
      background-size: 50%;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUxLjIgKDU3NTE5KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT4rIGNvcHkgMjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwb2x5Z29uIGlkPSIrLWNvcHktMiIgZmlsbD0iIzFDMUMxQyIgcG9pbnRzPSI4Ljc2MTcxODc1IDcuMTYwMTU2MjUgMTUuMjUwOTc2NiA3LjE2MDE1NjI1IDE1LjI1MDk3NjYgOC44MDA3ODEyNSA4Ljc2MTcxODc1IDguODAwNzgxMjUgOC43NjE3MTg3NSAxNS44NjEzMjgxIDYuOTg5MjU3ODEgMTUuODYxMzI4MSA2Ljk4OTI1NzgxIDguODAwNzgxMjUgMC42MzE4MzU5MzggOC44MDA3ODEyNSAwLjYzMTgzNTkzOCA3LjE2MDE1NjI1IDYuOTg5MjU3ODEgNy4xNjAxNTYyNSA2Ljk4OTI1NzgxIDAuMzMzOTg0Mzc1IDguNzYxNzE4NzUgMC4zMzM5ODQzNzUiPjwvcG9seWdvbj4KICAgIDwvZz4KPC9zdmc+');
    }

    .collapsible_trigger--active {
      background-color: $pink;
      background-position: center 3.5rem;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIycHgiIHZpZXdCb3g9IjAgMCAxNiAyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgo8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KPHBvbHlnb24gaWQ9IistY29weS0yIiBmaWxsPSIjZmZmIiBwb2ludHM9IjE1LjI1MDk3NjYgMC4xNjAxNTYyNSAxNS4yNTA5NzY2IDEuODAwNzgxMjUgMC42MzE4MzU5MzggMS44MDA3ODEyNSAwLjYzMTgzNTkzOCAwLjE2MDE1NjI1Ij48L3BvbHlnb24+CjwvZz4KPC9zdmc+');

    }
  }
}

