// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

body {
  font-size: 1.4rem;
  color: $gray-900;

  @include media-breakpoint-up(lg) {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: $headings-margin-bottom;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  font-family: $headings-font-family;
  color: $headings-color;
}

h1,
.h1,
%h1 {
  font-size: 3rem;

  @include media-breakpoint-up(md) {
    font-size: 3.6rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4.2rem;
  }
}

h2,
.h2,
%h2 {
  font-size: 2.1rem;

  @include media-breakpoint-up(md) {
    font-size: 2.3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.6rem;
  }
}

h3,
.h3,
%h3 {
  font-size: 1.8rem;

  @include media-breakpoint-up(md) {
    font-size: 2.1rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.4rem;
  }
}

h4,
.h4,
%lead,
%h4 {
  font-size: 1.6rem;

  @include media-breakpoint-up(md) {
    font-size: 1.9rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.2rem;
  }
}

h6,
.h6,

h5,
.h5 {
  font-size: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: 1.8rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.1rem;
  }
}


.lead {
  @extend %lead;
}

//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Lists
//

.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//

.muted {
  color: $gray-600;
}

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
}

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: '\2014 \00A0'; // em dash, nbsp
  }
}








