// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

body {
  font-size: 1.4rem;
  color: $gray-900;

  @include media-breakpoint-up(lg) {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $headings-font-family;
  color: $headings-color;
  font-weight: 700;
}

h1,
.h1,
%h1 {
  font-size: 4rem;
  line-height: (90px / 86px);

  @include media-breakpoint-up(md) {
    font-size: 6rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 9rem;
  }
}

h2,
.h2,
%h2 {
  font-size: 3.2rem;

  @include media-breakpoint-up(md) {
    font-size: 3.6rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4.1rem;
  }
}

h3,
.h3,
%h3 {
  font-size: 2.1rem;

  @include media-breakpoint-up(md) {
    font-size: 2.4rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.8rem;
  }
}

.heading-inverted {
  background-color: $black;
  color: $white;
  display: inline;
  padding: 0;
  position: relative;
  bottom: .06em;
}

.constrained-text {
  max-width: 50%;
}

.constrained-text--wide {
  max-width: 70%;
}

.heading-inverted-test {
  display: block;
  overflow: hidden;

  span {
    background-color: $black;
    color: $white;
    float: left;
    position: relative;
    padding: 0 .2em 0 .1em;

    &.highlighted {
      color: $pink;
    }
  }
}

h4,
.h4,
%lead,
%h4 {
  font-size: 1.8rem;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.4rem;
  }
}

h6,
.h6,

h5,
.h5 {
  font-size: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: 1.8rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.1rem;
  }
}


.lead {
  @extend %lead;
}

//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Lists
//

.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//
.muted {
  color: $gray-600;
}

.grey {
  color: $gray-900;
}

.display-2 {
  margin-top: .3em;
  line-height: .9;
  font-size: 6rem;

  @include media-breakpoint-up(md) {
    font-size: 8rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 12rem;
  }
}

.smaller {
  font-size: 80%;
}

.regular {
  font-family: $font-family-sans-serif;
}

.italic {
  font-style: italic;
}

strong,
b {
  font-family: $font-family-heavy;
}

.list-item--dotted {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted $gray-800;
}

.list-link {
  display: block;
  color: inherit;

  &::hover p {
    text-decoration: none;
  }
}

.fake-link {
  cursor: pointer;
}

.inverted {
  display: inline-block;
  margin-bottom: .2em;
  background-color: $black;
  color: $white;
  padding: .2em .4em;
}

