

html {
  font-size: 62.5%; // Easier font size calculations - clagnut.com/blog/348/ (18 May 2004!!)
  line-height: 1.6; // Unitless line-height - meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ (8 Feb 2006!!)
}

.container-fluid {
  max-width: $max-width;
}

ul {
  padding-left: 2.5rem;
}
