@font-face {
  font-family: 'robotobold_italic';
  // sass-lint:disable no-duplicate-properties
  src: url('../font/Roboto-BoldItalic.woff') format('woff'), url('../font/Roboto-BoldItalic.woff2') format('woff2');
  // sass-lint:enable no-duplicate-properties
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  // sass-lint:disable no-duplicate-properties
  src: url('../font/Roboto-Regular.woff') format('woff'), url('../font/Roboto-Regular.woff2') format('woff2');
  // sass-lint:enable no-duplicate-properties
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  // sass-lint:disable no-duplicate-properties
  src: url('../font/Roboto-Medium.woff') format('woff'), url('../font/Roboto-Medium.woff2') format('woff2');
  // sass-lint:enable no-duplicate-properties
  font-weight: normal;
  font-style: normal;
}
