@font-face {
  font-family: 'robotobold_italic';
  // sass-lint:disable no-duplicate-properties
  src: url('../font/roboto-bolditalic-webfont.woff') format('woff'), url('../font/roboto-bolditalic-webfont.woff2') format('woff2');
  // sass-lint:enable no-duplicate-properties
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  // sass-lint:disable no-duplicate-properties
  src: url('../font/roboto-regular-webfont.woff') format('woff'), url('../font/roboto-regular-webfont.woff2') format('woff2');
  // sass-lint:enable no-duplicate-properties
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  // sass-lint:disable no-duplicate-properties
  src: url('../font/roboto-medium-webfont.woff') format('woff'), url('../font/roboto-medium-webfont.woff2') format('woff2');
  // sass-lint:enable no-duplicate-properties
  font-weight: normal;
  font-style: normal;
}
