/* =============================================================================
   Layout
   ===========================================================================*/
$grid-gutter: 30px;

.outer-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: $black;

  @include media-breakpoint-up(md) {
    background-color: $gray-500;
  }
}

%constrain {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

%constrain-narrow {
  max-width: $max-width-inner;
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper {
  @extend %constrain;
  overflow: hidden;
}

#main {
  outline: none;  // Prevent focus outline
}

.content-wrapper {
  @extend %constrain-narrow;
  padding: 0 ($grid-gutter / 2);

  @include media-breakpoint-up(lg) {
    padding-left: 0;
    padding-right: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.content-wrapper--main {
  padding: 3rem 1.5rem 5rem;

  @include media-breakpoint-up(md) {
    padding-top: 4rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 4rem 0 10rem;
  }
}
