@charset 'UTF-8';

$max-width: 1200px;

// base
@import 'base';

// custom fonts
@import 'fonts';

// Bootstrap yay
// imported separately for finer control
@import 'bootstrap/scss/functions';

// Overrides for variables
@import 'custom';


@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'vertical-spacing';
@import 'layout';
@import 'utilities';
@import 'backgrounds';

@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/grid';
// @import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/input-group';
@import 'bootstrap/scss/custom-forms';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
// @import 'bootstrap/scss/utilities'; // not going to haul them all down
// going to itemise these a bit as there is a lot of rubbish coming down

@import 'bootstrap/scss/utilities/display';
@import 'bootstrap/scss/utilities/float';
@import 'bootstrap/scss/utilities/screenreaders';
@import 'bootstrap/scss/utilities/text';

// Added components!!
@import '../../../app/shared/components/Nav/style';
@import '../../../app/shared/components/Typography/style';
@import '../../../app/shared/components/Masthead/style';
@import '../../../app/shared/components/Toggle/style';
@import '../../../app/shared/components/SearchPage/style';
@import '../../../app/shared/components/Button/style';
@import '../../../app/shared/components/FormGroup/style';
@import '../../../app/shared/components/FormGroupAutocomplete/style';
@import '../../../app/shared/components/Logo/style';
@import '../../../app/shared/components/Footer/style';
@import '../../../app/shared/components/Skiplinks/style';
@import '../../../app/shared/components/Panel/style';
@import '../../../app/shared/components/Card/style';
@import '../../../app/shared/components/Accent/style';
