.navbar {
  padding-left: .5rem;
}

.nav-item {
  @include media-breakpoint-up(md) {
    margin: .5em 1.5em .5em 0;
  }
}

.nav-link {
  color: $gray-600;

  &:active,
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
