.form-control {
  &--search {
    border-width: 3px;
    border-style: solid;
    border-color: $green;
    font-size: 1.8rem;
    padding-left: .4em;
  }
}

.input-group--raised {
  box-shadow: 3px 3px 0 0 $black;
}
