.input-group-autocomplete--raised {
  > div:first-child {
    position: relative;
  }

  > div:first-child,
  input {
    width: 100%;
  }

  input {
    height: 43px;
  }

  .input-group-autocomplete-menu {

    position: absolute;
    overflow: auto;
    top: 40px;
    left: 0px;
    border: 3px solid $green;
    border-top: 0;
    z-index: 1;

    .input-group-autocomplete-menu-item {
      padding: 10px;

      a {
        color: #1c1c1c;
      }
    }
  }
}

