.accent {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  &--dark {
    color: $white;
    background-color: $gray-900;

    hr {
      border-top-color: rgba($white, .3);
    }
  }
}
