$grid-gutter: 30px;

.primary-nav__list {
  margin: 0;
  padding: $grid-gutter;
  white-space: nowrap;
}

.primary-nav__item {
  margin: 0;
}

.primary-nav__link {
  font-size: 2.4rem;
  color: $white;
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.primary-nav__link--active {
  color: $orange;
}

@include media-breakpoint-up(sm) {
  .primary-nav__list {
    text-align: right;
    list-style-type: none;
    padding: 0;
  }

  .primary-nav__item {
    display: inline-block;
    margin-left: .75rem;
  }

  .primary-nav__link {
    font-size: 1.2rem;
    letter-spacing: .06rem;
    text-transform: uppercase;
    color: $black;
    display: block;
    position: relative;
    margin: 0;
    transition: .3s all ease-in-out;
    line-height: 8rem;
    height: 8rem; // See _sticky-masthead.css

    &:after {
      content: '';
      display: block;
      height: 4px;
      background-color: $gray-500;
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      z-index: 1;
      opacity: 0;
      transition: .3s opacity ease-in-out, .3s background-color ease-in-out;
    }

    &:hover,
    &:focus {
      &:after {
        opacity: 1;
      }
    }
  }

  .primary-nav__link--active {
    color: $black;

    &:after {
      opacity: 1;
      background-color: $orange;
    }

    &:hover,
    &:focus {
      &:after {
        background-color: $orange;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .primary-nav__item {
    margin-left: 1rem;
  }

  .primary-nav__link {
    font-size: 1.4rem;
    letter-spacing: .12rem;
  }
}
