.masthead {
  background-color: $white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.logo__link {
  height: auto;
  width: 15rem;
  display: inline-block;
  margin: 1.8rem auto;

  @include media-breakpoint-up(md) {
    position: relative;
    width: 25rem;
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}

.navbar-expand-md {
  @include media-breakpoint-up(md) {
    display: flex !important;
  }
}
